{
    order cache first

    cache {
        type redis
        host 127.0.0.1:6379                 # Redis IP/Port
    }
}

http://localhost:9090
cache {
    expire 120                              # Cache expiration in seconds
    bypass {
        paths wp-admin wp-login.php system  # WordPress and ExpressionEngine
        methods post                        # Don't typically cache POST
        cookies wordpress_logged_in_.*      # WordPress
        # cookie exp_sessionid              # ExpressionEngine
    }
}
reverse_proxy localhost:8080
